body {
    margin: 0px;
    font-family: arial;
}

h1 {
    margin: 2px 0px 1em 0px;
    background-color: rgb(250, 225, 209);
    color: Black;
    padding-left: 20px;
	font-size: 50%;
    text-align: center;
}

div#vsebina {
    margin-left: 10px;
    margin-right: 10px;
}

div#glava {
    background-color: rgb(243, 181, 140);
    color: Black;
    padding-left: 20px;
    font-size: 300%;
    text-align: center;
}

div#sporocilo {
    font-weight: bold;
    background-color: yellow;
    border: 1px solid red;
    padding: 5px;
}

body {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #eee;
}

.form-signin {
  max-width: 800px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin .form-text {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  font-size: 15px;
}

.form-signin .form-text:focus {
  z-index: 2;
}

.form-signin input[type="username"] {
  margin-bottom: 1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#my_file {
    display: MyPictures;
}

#get_file {
    background: White;
    border: 2px solid Gray;
    padding: 10px;
    border-radius: 4px;
    margin: 5px;
    cursor: pointer;
}

