body {
    margin: 0px;
    font-family: arial;
}

h1 {
    margin: 2px 0px 1em 0px;
    background-color: rgb(250, 225, 209);
    color: Black;
    padding-left: 20px;
	font-size: 50%;
    text-align: center;
}

div#vsebina {
    margin-left: 50px;
    margin-right: 50px;
	margin-top: 0px;
}

div#glava {
    background-color: rgb(243, 181, 140);
    color: Black;
    padding-left: 20px;
    font-size: 300%;
    text-align: center;
}

div#noga {
    background-color: Gray;
    padding-right: 20px;
    text-align: right;
    font-size: 80%;
}

div#sporocilo {
    font-weight: bold;
    background-color: yellow;
    border: 1px solid red;
    padding: 5px;
}

.box {
		float: center;
		width: 800px;
		margin-left: 10px;
		margin-top: 10px;
		padding: 5px;
		border: 1px solid gray;
	}
	
img {
    max-width: 400px;
    max-height: 300px;
}