body {
    margin: 0px;
    font-family: arial;
}

h1 {
    margin: 0px 0px 1em 0px;
    background-color: rgb(60, 200, 120);
    color: White;
    padding-left: 20px;
    text-align: center;
}

div#vsebina {
    margin-left: 10px;
    margin-right: 10px;
}

div#glava {
    background-color: rgb(250, 225, 209);
    color: White;
    padding-left: 20px;
    font-size: 300%;
    text-align: center;
}

div#noga {
    background-color: Gray;
    padding-right: 20px;
    text-align: right;
    font-size: 80%;
}

div#sporocilo {
    font-weight: bold;
    background-color: yellow;
    border: 1px solid red;
    padding: 5px;
}
